# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
<li>List of popular languages for Data Science</li>
<li>List of Data Science Tools</li>
<li>Arimethic Expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. ggplot

| Data Science Tools |
| -------------------|
|Jupyter|
|R Studio|
|Spyder|

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<H2>Author <br>
Anthony Kwa